!!!
%html
  %head
    %title Monkey Inferno
    %link{ :href => "stylesheets/reset-min.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %link{ :href => "stylesheets/application.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
  %body
    #main
      = @jsonResponse
    %script{:src => "javascripts/jquery-1.4.2.min.js", :type => "text/javascript"}
