!!!
%html
  %head
    %title Monkey Inferno
    %link{ :href => "stylesheets/reset-min.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %link{ :href => "stylesheets/application.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
  %body
    #main
      %h2
        Restaurants
      %ul#restaurants
    %script{:src => "javascripts/jquery-1.6.1.min.js", :type => "text/javascript"}
    %script{:src => "javascripts/application.js", :type => "text/javascript"}
