body {
  font-size:100%;
  font-family:"Trebuchet MS",Trebuchet,Arial,Sans-Serif;
}

h1 {
  font-size:1.5em;
  color:white;
  font-weight:bold;
}

h1 a{
  color:white;
}

h2 {
  font-size:1.8em;
}

a {
  color:white;
  text-decoration:none;
  cursor:pointer;
}

a:hover {
  text-decoration:underline;
}

.container {
  margin:0 auto;
  width:960px;
}

#header {
  padding:20px;
  background:#6b0d21;
  height:50px;
}

#searchForm {
  float:left;
  margin-right:60px;
}

#searchInput {
  color:#B4B2B2;
  border: 6px solid #7cb229;
  height: 30px;
  width: 510px;
  font-size: 1.3em;
  padding:2px;
}

#searchBtn{
  margin-top: 3px !important;
  width: 130px;
  height: 45px;
  color: #152735;
  border: 1px solid #FA2;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
  background: #FFB82F;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD757), to(#FA2));
  background: -moz-linear-gradient(top, #FFEC64, #FFB027);
}

#main {
  border:2px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top:20px;
  background:#FFFAE6;
  display:inline-block;
  width:100%;
  padding:10px;
  margin-bottom:20px;
}

#map {
  width:60%;
  height:500px;
  border:6px solid #152735;
  float:left;
  margin-top:-25px;
}

#results {
  float:left;
  margin-top:20px;
  margin-right:20px;
  width:35%;
}

#results li {
  clear:both;
  float:left;
  margin-bottom:10px;
}

#results li img {
  float:left;
  margin-right:5px;
}

.pac-container{
  font-size:1.3em;
}

.pac-container .pac-unselected {
  padding:4px;
}

.pac-container .pac-selected {
  font-weight:bold;
}